#lists {
  .title-wrapper {
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    .project-title {
      margin: 12px;
      color: rgb(0, 120, 230);
      .fascia-project-menu {
        font-size: 80%;
        cursor: pointer;
        padding-left: 8px;
        color: rgb(50, 50, 50);
      }
    }
    .project-operation {
      float: right;
      margin-right: 30px;
      color: rgb(0, 120, 213);
      cursor: pointer;
      .pull-request-select {
        color: rgb(72, 79, 89);
        margin: 4px;
        padding: 2px;
        font-size: 18px;
        border-radius: 4px;
        border: 1px solid rgb(193, 201, 208);
      }
      .select {
        background: linear-gradient(
          rgb(249, 252, 255),
          rgb(222, 229, 243));
      }
      i {
        margin: 4px 8px;
      }
    }
  }
  .items {
    vertical-align: top;
  }
  .fascia-list {
    color: rgb(0, 0, 0);
    width: 250px;
    hegiht: 50%;
    overflow: auto;
    min-height: 50px;
    padding: 5px 15px 15px 15px;
    margin: 10px 20px;
    border-radius: 8px;
    box-sizing: border-box;
    display: block;
    float: left;
    background: rgb(230, 230, 230);
    position: relative;
    .fascia-list-menu {
      text-align: right;
      font-size: 80%;
      cursor: pointer;

      i {
        margin-left: 8px;
      }
    }
    .list-title {
      color: rgb(0, 0, 0);
      display: block;
      font-size: 110%;
      text-align: center;
    }
    ul.fascia-task {
      list-style: none;
      padding: 0;
      margin-bottom: 16px;
      li {
        cursor: pointer;
      }
      li.task{
        background: rgb(255, 255, 255);
        color: rgb(77, 77, 77);
        text-align: center;
        box-sizing: border-box;
        padding: 4px;
        margin-bottom: 8px;
      }
      li.new-task {
        background: rgb(255, 255, 255);
        color: rgb(150, 150, 150);
        text-align: center;
        box-sizing: border-box;
        padding: 4px;
      }
      li.arrow {
        background: rgb(100, 100, 100);
        box-sizing: border-box;
        padding: 4px;
        margin-bottom: 8px;
        content: "";
        height: 28px;
      }
    }
  }
  .fascia-new-list {
    width: 250px;
    height: 50px;
    padding: 15px;
    margin: 10px 20px;
    border-radius: 8px;
    box-sizing: border-box;
    background-color: rgba(0, 120, 213, 0.5);
  }

  .none-list-tasks {
    box-sizing: border-box;
    margin: 10px 20px;
    padding: 5px 15px 15px;
    position: relative;

    ul.fascia-none-list-tasks {
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      width: 220px;
      li {
        cursor: pointer;
        border-radius: 8px;
      }
      li.task {;
        text-align: center;
        box-sizing: border-box;
        padding: 4px;
        margin-bottom: 8px;
      }
      li.new-task {
        display: block;
      }
      li.arrow {
        background: rgb(100, 100, 100);
        box-sizing: border-box;
        padding: 4px;
        margin-bottom: 8px;
        content: "";
        height: 28px;
      }
    }
  }

  .list-loading {
    z-index: 100;
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .list-circle-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      .list-circle-body {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: auto;
        width: 58px;
        height: 58px;
        color: #ffffff;
        .list-spinner {
          @include spinner(56px);
          border-color: transparent transparent #ccc #ccc;
        }
      }
    }
  }
}

// ReactModalは外側定義のcssじゃないと反映してくれない
.list-form {
  width: 300px;
  color: rgb(119, 119, 119);
  label {
    line-height: 25.6px;
  }
  .form-action {
    margin: 20px 0 -15px;
    text-align: right;
  }
  input, select {
    width: 298px;
  }
}
.task-form {
  width: 300px;
  color: rgb(119, 119, 119);
  label {
    line-height: 25.6px;
  }
  .form-action {
    margin: 20px 0 -15px;
    text-align: right;
  }
  input, select, textarea {
    width: 298px;
  }
}

.task-detail {
  width: 700px;
  color: rgb(119, 119, 119);
  .task-title {
    color: rgb(50, 50, 50);
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;
    font-weight: bold;
    line-height: 34px;
    .task-issue-number {
      color: rgb(162, 162, 162);
      padding-left: 12px;
    }
  }
}
