#content {
  height: 100%;
}

.inquiry {
  height: 100%;
  width: 100%;

  .main {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }

  .contact-board {
    border-radius: 15px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    margin-top: 100px;
    padding: 20px;
    text-align: left;
    max-width: 600px;
    width: 100%;

    .control-group {
      width: 100%;

      input {
        width: 100%;
      }

      textarea {
        width: 100%;
        height: 200px;
      }
    }

    .contact-control {
      text-align: center;
    }
  }
}
