#content {
  height: 100%;
}

.session {
  height: 100%;
  width: 100%;

  .main {
    color: rgb(255, 255, 255);
    text-align: center;
  }

  .sign-in-board,
  .sign-up-board {
    border-radius: 15px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: inline-block;
    margin-top: 100px;
    padding: 20px;
    text-align: center;
    width: auto;

    .session-button {
      width: 100%;
    }

    .control-group {
      margin: 14px 0;
    }
  }
}
