@import "node_modules/spinners/stylesheets/_spinners";
$success-color: rgb(28, 184, 65);
$error-color: rgb(202, 60, 60);
$warning-color: rgb(223, 117, 20);
$secondary-color: rgb(66, 184, 221);
$blue-color: #e1f2fa;
$green-color: #d3eda3;

.pure-button-primary,
.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 10px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
  background: $success-color;
}

.button-error {
  background: $error-color;
}

.button-warning {
  background: $warning-color;
}

.button-secondary {
  background: $secondary-color;
}

.button-blue {
  color: #5992aa;
  background: $blue-color;
}

.button-green {
  color: #72962e;
  background: $green-color;
}


.flash {
  text-align: center;
  color: white;
  border-radius: 4px;
  padding: 4px;
}

.flash-success {
  background: $success-color;
}

.flash-error {
  background: $error-color;
}

.flash-warning {
  background: $warning-color;
}

.flash-secondary {
  background: $secondary-color;
}
html, body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
}

.fascia-form-icon-wrapper {
  position: relative;
  input {
    padding-right: 44px !important;
  }
  .fascia-form-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 35px;
    background: rgb(66, 184, 221);
    color: rgb(255, 255, 255);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 20px;
    line-height: 38px;
  }
}

.whole-loading {
  z-index: 100;
  position: fixed;
  background-color: rgba(0, 0, 0,0.5);
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  content: '';

  // loading circle
  .whole-circle-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    .whole-circle-body {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      width: 173px;
      height: 173px;
      .whole-spinner {
        @include spinner(170px);
        border-width: 4px;
        border-color: transparent transparent #ccc #ccc;
      }
    }
  }
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}


article {
  width: auto;
  margin: 0 auto;
  background: inherit;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  overflow: hidden
}
article:before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  -webkit-filter: blur(10px) saturate(2);
}
article .title {
  padding: 8px;
  background: rgba(225, 225, 225, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
}
article .content {
  padding: 8px;
  background: rgba(255, 255, 255, 0.5);
}