.about {
  background: url("/images/167.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  width: 100%;
  height: 52rem;

  .main-board {
    height: 100%;
    text-align: center;
    color: rgb(255, 255, 255);

    article {
      width: 22.5rem;
      margin-top: 3rem;
    }

    .sign-in-board, .sign-up-board {
      display: inline-block;
      text-align: center;
      width: auto;
      padding: 1.25rem;
      box-sizing: border-box;
      color: rgb(51, 51, 51);

      .session-button {
        width: 100%;
      }
      .control-group {
        margin: 0.875rem 0;
      }

      .message {
        color: #666;
        font-size: small;
      }
    }
  }

  .main-area {
    color: rgb(51, 51, 51);
    text-align: center;
    font-size: 1.25rem;;

    .github {
      padding: 2.5rem 0;
    }
    .not-github {
      padding: 2.5rem 0;
      background-color: rgb(220, 220, 220);
    }

    img {
      border-radius: 8px;
      max-width: 98%;
    }

    .github-images {
      margin: 0 auto;

      .fascia-ss-2 {
        width: 450px;
      }

      .github-ss-1 {
        width: 400px;
      }
    }
    .fascia-ss-3 {
      width: 700px;
    }
  }
  .footer {
    text-align: center;
    color: rgb(51, 51, 51);
    padding: 2.5rem 0;
  }
}
