.error {
  background: url("/images/83.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;

  .main-board {
    padding-top: 100px;
    text-align: center;

    @media (max-width: 980px) {
      font-size: 36px;
    }
  }
}
