.inquiry {
  background: url("/images/167.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  width: 100%;
  min-height: 100%;

  .main {
    text-align: center;
    color: rgb(255, 255, 255);
  }

  article {
    margin-top: 10%;
    width: 32.5em;
    max-width: 100%;
  }

  .contact-board {
    display: inline-block;
    text-align: left;
    width: 100%;
    box-sizing: border-box;
    padding: 1.2em;
    border-radius: 1.0em;
    color: rgb(51, 51, 51);

    input, textarea {
      width: 100%;
      max-width: initial;
    }

    textarea {
      height: 12em;
    }

    .contact-control {
      text-align: right;
    }
  }
}
