#projects {
  .fascia-project {
    color: #dcdcdc;
    width: 250px;
    height: 100px;
    padding: 15px;
    margin: 10px 20px;
    border-radius: 8px;
    box-sizing: border-box;
    white-space: normal;

    .project-title {
      color: rgb(255, 255, 255);
      display: block;
      font-size: 110%;
    }
    .project-description {
      display: block;
      font-size: 100%;
    }
  }
  .fascia-new-project {
    width: 250px;
    height: 100px;
    padding: 15px;
    margin: 10px 20px;
    border-radius: 8px;
    box-sizing: border-box;
  }
}
.project-form {
  width: 300px;
  color: rgb(119, 119, 119);
  label {
    line-height: 25.6px;
  }
  .form-action {
    margin: 20px 0 -15px;
    text-align: right;
  }
  input, select, textarea {
    width: 298px;
  }
}