user: # remove server user
host: # remote server host
port: # remote server port for ssh
docker_image_name: "h3poteto/fascia"
docker_image_tag: "latest"
container_name: "fascia"
container_port: 9090
shared_directory: "/srv/www/fascia/public/statics" # for static file host
host_name: "fascia.io"
