.projects {
  margin: 12px 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.newButton {
  height: 96px;
  width: 240px;
  border-radius: 8px;
  padding: 8px 16px;
  margin: 0 20px 12px 0;
  color: #fff;
  cursor: pointer;

  &:hover, :visited, :active {
    color: #fff;
    text-decoration: none;
  }
}
