$success-color: rgb(28, 184, 65);
$error-color: rgb(202, 60, 60);
$warning-color: rgb(223, 117, 20);
$secondary-color: rgb(66, 184, 221);
$blue-color: #e1f2fa;
$green-color: #d3eda3;


html,
body {
  height: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
}

@media screen and (max-width : 768px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width : 768px) and (max-width : 1024px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width : 1024px) {
  html {
    font-size: 16px;
  }
}

#content {
  height: 100%;
}

.pure-button-primary,
.button-success,
.button-error,
.button-warning,
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button-default {
  border-radius: 4px;
}

.button-success {
  background: $success-color;
}

.button-error {
  background: $error-color;
}

.button-warning {
  background: $warning-color;
}

.button-secondary {
  background: $secondary-color;
}

.button-blue {
  color: #5992aa;
  background: $blue-color;
}

.button-green {
  color: #72962e;
  background: $green-color;
}

.button-xsmall {
  font-size: 70%;
}

.button-small {
  font-size: 85%;
}

.button-large {
  font-size: 110%;
}

.button-xlarge {
  font-size: 125%;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}


article {
  width: auto;
  margin: 0 auto;
  background: inherit;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  overflow: hidden
}
article:before {
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  -webkit-filter: blur(10px) saturate(2);
}
article .title {
  padding: 8px;
  background: rgba(225, 225, 225, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
}
article .content {
  padding: 8px;
  background: rgba(255, 255, 255, 0.5);
}

pre {
  background-color: #f7f7f7;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  overflow: auto;
  padding: 16px;
}

.fascia-form-icon-wrapper {
  position: relative;
  input {
    padding-right: 44px !important;
  }
  .fascia-form-icon {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 35px;
    background: rgb(66, 184, 221);
    color: rgb(255, 255, 255);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 20px;
    line-height: 38px;
  }
}


